{% extends 'base.html.twig' %}

{% block title %}ExpenseAttachment index{% endblock %}

{% block body %}
    <h1>ExpenseAttachment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense_attachment in expense_attachments %}
            <tr>
                <td>{{ expense_attachment.id }}</td>
                <td>{{ expense_attachment.file }}</td>
                <td>
                    <a href="{{ path('app_expense_attachment_show', {'id': expense_attachment.id}) }}">show</a>
                    <a href="{{ path('app_expense_attachment_edit', {'id': expense_attachment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_expense_attachment_new') }}">Create new</a>
{% endblock %}
