{% extends 'base.html.twig' %}

{% block title %}ExpenseComment index{% endblock %}

{% block body %}
    <h1>ExpenseComment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>DateTime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense_comment in expense_comments %}
            <tr>
                <td>{{ expense_comment.id }}</td>
                <td>{{ expense_comment.comment }}</td>
                <td>{{ expense_comment.dateTime ? expense_comment.dateTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_expense_comment_show', {'id': expense_comment.id}) }}">show</a>
                    <a href="{{ path('app_expense_comment_edit', {'id': expense_comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_expense_comment_new') }}">Create new</a>
{% endblock %}
