{% extends 'base.html.twig' %}

{% block title %}ExpenseParticipant index{% endblock %}

{% block body %}
    <h1>ExpenseParticipant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Share</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense_participant in expense_participants %}
            <tr>
                <td>{{ expense_participant.id }}</td>
                <td>{{ expense_participant.share }}</td>
                <td>
                    <a href="{{ path('app_expense_participant_show', {'id': expense_participant.id}) }}">show</a>
                    <a href="{{ path('app_expense_participant_edit', {'id': expense_participant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_expense_participant_new') }}">Create new</a>
{% endblock %}
