{# user/_form.html.twig #}

{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.name, 'Nom', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.firstName, 'Prénom', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.email, 'Adresse e-mail', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.telephone, 'Téléphone', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.password, 'Mot de Passe', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.confirmPassword, 'Confirmer le Mot de Passe', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.confirmPassword, {'attr': {'class': 'form-control'}}) }}
</div>
<div class="form-group">
    {{ form_label(form.CreateDateTime, 'Date de création', {'label_attr': {'class': 'control-label'}}) }}
    {{ form_widget(form.CreateDateTime, {'attr': {'class': 'form-control', 'type': 'date'}}) }}
</div>

<button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}