{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            background-color: #f2f2f2;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #1d1d1d;
        }

        .btn-primary {
            background-color: #3498db;
            border-color: #3498db;
            color: #fff;
        }

        .btn-primary:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }

        .btn-danger {
            background-color: #e74c3c;
            border-color: #e74c3c;
            color: #fff;
        }

        .btn-danger:hover {
            background-color: #c0392b;
            border-color: #c0392b;
        }

        .center-content {
            text-align: center;
        }

        /* Style personnalisé pour le bouton "Mettre à jour" */
        .custom-update-button {
            background-color: #27ae60;
            border-color: #27ae60;
            color: #fff;
        }

        .custom-update-button:hover {
            background-color: #219049;
            border-color: #219049;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier l'utilisateur</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('app_user_index') }}" class="btn btn-primary">Retour à la liste</a>

        <form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" style="display: inline-block;">
            {{ csrf_token('delete' ~ user.id) }}
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">Supprimer</button>
        </form>
    </div>
{% endblock %}