<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ asset("assets/css/connect.css") }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Se Connecter</title>
</head>
<body>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">
                    <img src="images/white.png" alt="">
                </div>
                <div class="col-md-6 right">
                    <div class="input-box">
                        <header>Connexion</header>
                        <div class="input-field">
                            {{ form_widget(form.email, {
                                'attr': {
                                    'class': 'input',
                                    'id': 'email',
                                    'required': 'required',
                                    'autocomplete': 'off'
                                }
                            }) }}
                            {{ form_label(form.email, 'Adresse e-mail', {
                                'label_attr': {
                                    'for': 'email'
                                }
                            }) }}
                        </div> 
                        <div class="input-field">
                            {{ form_widget(form.password, {
                                'attr': {
                                    'class': 'input',
                                    'id': 'pass',
                                    'required': 'required'
                                }
                            }) }}
                            {{ form_label(form.password, 'Mot de Passe', {
                                'label_attr': {
                                    'for': 'pass'
                                }
                            }) }}
                        </div>
                        <div class="input-field">
                            {{ form_widget(form.confirmPassword, {
                                'attr': {
                                    'class': 'input',
                                    'id': 'pass',
                                    'required': 'required'
                                }
                            }) }}
                            {{ form_label(form.confirmPassword, 'Confirmer le Mot de Passe', {
                                'label_attr': {
                                    'for': 'pass'
                                }
                            }) }}
                        </div>
                        <div class="form-group form-check">
                            {{ form_row(form.remember_me, {
                                'label_attr': {'class': 'form-check-label'},
                                'attr': {'class': 'form-check-input'}
                            }) }}
                            {{ form_label(form.remember_me, 'Se souvenir de moi', {
                                'label_attr': {'class': 'form-check-label'}
                            }) }}
                        </div>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Se Connecter">
                        </div>
                        <div class="signin">
                            <span>Déjà Inscrit ? <a href="{{ path('app_user_new') }}">S'Inscrire'</a></span>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>
</html>