{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Styles pour le corps de la page */
        body {
            background-color: #fff;
        }

        /* Styles pour le conteneur du formulaire */
        .form-container {
            border: 1px solid #f2f2f2;
            border-radius: 5px;
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
            background-color: #f2f2f2; /* Fond blanc */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Styles pour les étiquettes */
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        /* Styles pour les champs de saisie */
        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s ease-in-out;
        }

        .form-control:focus {
            border-color: #007bff; /* Couleur de la bordure au focus */
            outline: 0;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre au focus */
        }

        /* Styles pour le bouton */
        .btn-primary {
            background-color: #27ae60;
            border-color: #27ae60;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .btn-primary:hover {
            background-color: #219a52;
            border-color: #219a52;
        }

        .btn-secondary {
            background-color: #d334db;
            border-color: #c433cc;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .btn-secondary:hover {
            background-color: #bf2ec6;
            border-color: #b330b9;
        }

        .btn-tertiary {
            background-color: #3498db;
            border-color: #3498db;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out;
        }

        .btn-tertiary:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }

    </style>
{% endblock %}

{% block body %}
{{ form_start(form) }}
    <div class="container mt-4">
        <div class="form-container">
            <h1>Connexion</h1>
            <div class="form-row">                
                <div class="form-group col-md-6">
                    {{ form_label(form.email, 'Adresse e-mail') }}
                    {{ form_widget(form.email, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'monemail@example.com'
                        }
                    }) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.password, 'Mot de Passe') }}
                    {{ form_widget(form.password, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Mot de Passe'
                        }
                    }) }}
                </div>

                <div class="form-group col-md-6">
                    {{ form_label(form.confirmPassword, 'Confirmer le Mot de Passe') }}
                    {{ form_widget(form.confirmPassword, {
                        'attr': {
                            'class': 'form-control',
                            'placeholder': 'Confirmation Mot de Passe'
                        }
                    }) }}
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary">{{ button_label|default("Valider") }}</button>
                <a class="btn btn-secondary" href="{{ path('app_user_new') }}">S'Inscrire</a>
                <a class="btn btn-tertiary" href="{{ path('app_user_index') }}">Retourner à la liste</a>
            </div>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}